{% load static %}
<html>

<head>
  <title>My Movie list</title>
  <link rel="stylesheet" href="{% static 'login_register.css' %}" />
  <link rel="icon" href="{% static 'logo.png' %}" type="image/png">
</head>

<body>
  {% block content %}
  <h1>Register</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Register</button>
    <p class = "back">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
  </form>
  {% endblock %}
</body>

</html>